* {
	margin:0;
	padding: 0;
}

*,
*::before,
*::after { box-sizing: border-box }

html {
	font-size: 62.5%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 300;
	font-color: white;	
}


a {
	text-decoration: none; 	
	color: black;
	cursor: pointer;
}

li {
	list-style: none;
}

/*LOOKBOX NAV*/

.brand {
	font-size: 3rem;
	letter-spacing: 1rem;
	position: absolute;
	top: 1.2rem;
	left: 2rem;
}

.lookbook-tabs {
	display: flex;
	justify-content: center;
	padding: 2rem 0;
	background-color: #F8F8F8;
}

.lookbook-tabs a {
	padding: 2rem;
	text-transform: uppercase;
}

.lookbook-tabs .active, .lookbook-tabs a:hover {
	color:white;
	background-color: black;
}


/*SLIDER*/

.slide_viewer {
  height: calc(100vh - 5.9rem);
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background-image: url("lookbook.jpg");
  background-size: cover;
  background-position: 0 40%;
}

.slide:nth-of-type(2) {
  background-image: url("lookbook1.jpg");
  background-size: cover;
  background-position: 0 40%;
}

.slide:nth-of-type(3) {
  background-image: url("lookbook2.jpg");
  background-size: cover;
  background-position: 0 40%;}

.slide:nth-of-type(4) {
  background-image: url("lookbook3.jpg");
  background-size: cover;
  background-position: 0 40%;}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  bottom: 1rem;
  text-align: center;
  line-height: -1rem;
}

a.slide_btn {
  color: #fff;
  font-size: 30px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

/*.directional_nav {
  height: 340px;
  margin: 0 auto;
  position: relative;
  top: -340px;
}*/

.previous_btn {
  bottom: 0;
  left: 50px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 50px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  color: white;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}