* {
	margin:0;
	padding: 0;
}

*,
*::before,
*::after { box-sizing: border-box }

html {
	font-size: 62.5%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 300;
	font-color: white;	
}


a {
	text-decoration: none; 	
	color: white;
	cursor: pointer;
}

li {
	list-style: none;
}

.container {
	width: 90%;
	margin: 0 auto;
}

/*VIDEO*/

.video-container {
	width: 100%;
	height: 90vh;
	overflow: hidden;
	position: relative;
}

video {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index: -10;
}



/*NAVIGATION TOP*/

.nav-top {
	padding: 5rem;
	display: flex;
	justify-content: space-between;
	z-index: 20;
}

.brand {
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
}

.search {
	flex-basis: 30%;
	top: 2rem;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.search a {
	flex-basis: 100%;
}

#search-outline {
	width: 70%;
	display: inline-block;
	border-bottom: 1px solid white;
}


.nav-right {
	text-transform: uppercase;
	font-size: 1.2rem;
}

.nav-right ul {
	display: flex;
	align-items: center;
}

.nav-right ul a:not(last-child) {
	margin-right: 1rem;
}



/*SEARCH DISPLAY*/
.search-area {
	width: 100%;
	height: 100vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	display: none;
}

.close-btn {
	color: black;
	position: absolute;
	font-size: 2rem;
	top: 1rem;
	right: 1.5rem;
}

#search-area-bar {
	width: 50%;
	display: block;
	border-style: none;
	border-bottom: 1px solid black;
	padding-bottom: 2rem;
	margin-bottom: 4rem;
	font-size: 3rem;
	font-weight: 400;
	font-family: inherit;
}

#search-area-bar:focus {
	outline: none;
}



/*NAVIGATION SIDE*/

.left-navigation {
	padding-left: 5rem;
	display: flex;
	flex-direction: column;
	z-index: 20;
}

.left-navigation li{
	margin-bottom: 1rem;
}

.left-navigation a {
	text-transform: uppercase;
	margin-bottom: 10rem;
	font-weight: 500;
	width:12rem;
}

.left-navigation a:hover {
	color: #c2c0bf;
}

.men-option,
.women-option,
.kids-option,
.accessories-option,
.shoes-option {
	margin: 1rem 0 2rem 1rem;
	font-size: 1.2rem;
	display: none;
}

.men-option li,
.women-option li,
.kids-option li,
.accessories-option li,
.shoes-option li {
	margin-bottom: 0.8rem;
}

/*SHIPPING INFO*/

.shipping-info {
	margin: 4rem auto 8rem auto;
	text-align: right;
	font-weight: 400;
}

/*LOOKBOOK*/

.lookbook h2 {
	text-align: center;
	font-family: inherit;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 5rem;
	font-size: 3rem;	  
}

.lookbook-flex {
	display: flex;
	height:500px;
	margin-bottom: 8rem;
	overflow: hidden;
}

.men-lookbook-box,
.women-lookbook-box,
.kids-lookbook-box {
	flex-basis: 33.33333333%;
	height:500px;
	backface-visibility: hidden;
}

.men-lookbook-image,
.women-lookbook-image,
.kids-lookbook-image {
	width: 80%;
	height: 90%;
	margin: 5% auto;
	overflow: hidden;
	overflow-y: hidden;
	position: relative;
}

.lookbook-flex img {
	width: 120%;
	transition: all 500ms;
}

.men-lookbook-image::after,
.women-lookbook-image::after,
.kids-lookbook-image::after {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 50;
	color: white;
	font-size: 3rem;
	opacity: 0;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	text-align: center; 
	transition: all 500ms;
}

.men-lookbook-image::after {
	content: "MEN";
}

.women-lookbook-image::after {
	content: "WOMEN";
}

.kids-lookbook-image::after {
	content: "KIDS";
}

.lookbook-flex img:hover {
	width: 100%;
	-webkit-filter: blur(1px);
	filter: blur(1px);
}

.men-lookbook-image:hover::after,
.women-lookbook-image:hover::after,
.kids-lookbook-image:hover::after {
	opacity: 1;
}



/*FOOTER*/

.footer {
	text-align: center; 
}

h3 {
	font-weight: 400;
	margin-bottom: 5rem; 
}

form {
	margin-bottom: 10rem;
}

input {
	text-align: center; 
}

#email {
	width: 25%;
	border-style: none;
	border-bottom: 1px solid black;
	padding-bottom: 2rem;
}

#email:focus {
	outline: none;
}

.form-extension {
	margin-top: 5rem;
	display: none;
}

.form-gender {
	margin-right: 2rem;
	text-transform: uppercase;
	font-size: 1.4rem;
}

.form-gender:nth-of-type(3) {
	margin-right: 0;
}

.privacy-sec {
	margin: 6rem 0;
	font-size: 1.2rem;
}

.btn {
	font-family: inherit;
	font-size: 1.4rem; 
	font-weight: 500;
	text-transform: uppercase; 
	padding: 1rem 2rem;
	background-color: transparent;
	border: 1px solid black;
	cursor: pointer;
}

.social {
	display: flex;
	justify-content: center;
	list-style: none;
	margin-bottom: 8rem;
}


.social-media-tabs a,
.disclaimer a {
	color: black;
	text-transform: uppercase;
	font-size: 1.2rem;
}

.social-media-tabs a:hover,
.disclaimer a:hover {
	border-bottom: 1px solid black;
}


/*
NOT WORKING
.social-media-tabs li:not(last-child){
	margin-right: 5rem;
}
*/ 

.social-media-tabs li{
	margin-right: 5rem;
}

.social-media-tabs li:last-child{
	margin-right: 0rem;
}

.disclaimer {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	margin-bottom: 2rem;
}

.disclaimer li {
	padding: 0 1rem;
}

.disclaimer li:last-child {
	border-left: 1px solid #c2c0bf;
}



/*POP UP*/

#privacy-popup,
#terms-popup,
#contact-popup {
	width: 60%;
	height: 60%;
	margin: 10% 20%;
	background-color: white;
	position: absolute;
	top: 0;
	position: fixed;
	z-index: 200;
	display: none;
}

.privacy-info,
.terms-info,
.contact-info {
	width: 80%;
	margin: 5rem auto;
}

.privacy-info p,
.terms-info p {
	margin-bottom: 3rem;
	text-align: justify;
}

#number {
	margin: 1.5rem 0;
	font-size: 1.8rem; 
}

.timing,
.contact-info li {
	margin-bottom: 1rem;
}

.contact-info h4 {
	margin: 2rem 0;
}

.social-handle {
	color: black;
}	
